{% extends 'template.html'%}

{% block content %}
<style>
    .row {
        padding-bottom: 3vh;
    }
</style>

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Your Script</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'script' %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <input type="text" name="title" 
                                class="form-control" placeholder="Script title"
                                value="karan and arjun" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <select name="language" class="form-control">
                                    <option>select Language</option>
                                    <option value="English">English</option>
                                    <option value="Hindi" selected>Hindi</option>
                                    <option value="Bengali">Bengali</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <textarea name="synopsis" class="form-control">karan fight with arjun</textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 offset-md-2">
                                <input type="text" name="genre" id="genre" class="form-control" placeholder="genre" />
                            </div>
                            <div class="col-md-4">
                                <select id="select-box" class="form-control">
                                    <option>Select Genre</option>
                                    <option value="action">Action</option>
                                    <option value="adventure">Adventure</option>
                                    <option value="comedy">Comedy</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <textarea name="plot" class="form-control">karan and arjun figth with each other and arjun won the fight
                                </textarea>
                            </div>
                        </div>
                    </div>
            </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
        </div>
    </div>
</div>

<!-- index body -->

<div class="container">
    <div class="row">
        <span style="color: black; font-size: 6vh; text-align: center; margin-top: 12vh;">Nothing!!</span>
    </div>
</div>

<script>
    let genre = document.getElementById("genre");
    document.querySelector("#select-box").addEventListener('change', function () {
        var selectedGenres = Array.from(this.selectedOptions).map(option => option.value);
        genre.value += selectedGenres.join(', ') + ', ';
    });
</script>


{%endblock%}