{% extends 'template.html'%}

{% block content %}
<style>
    .row {
        padding-bottom: 3vh;
    }
</style>

<!-- modal -->
<div class="modal fade" id="scriptModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Your Script</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'script' user_details.id %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <input type="text" name="title" class="form-control" placeholder="Script title" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <textarea name="synopsis" class="form-control">type synopsis here...</textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 offset-md-2">
                                <input type="text" name="genre" id="genre" class="form-control" placeholder="genre" />
                            </div>
                            <div class="col-md-4">
                                <select id="select-box" class="form-control">
                                    <option>Select Genre</option>
                                    <option value="action">Action</option>
                                    <option value="adventure">Adventure</option>
                                    <option value="comedy">Comedy</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <textarea name="plot" class="form-control" style="height: 20vh;">type plot... </textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- index body -->

<div class="container">
    <div class="row">
        {% for content in script_content %}
        <div class="col-md-4" style="margin-top: 5vh;">
            <div class="card"
                style="width: 18rem; background:#6499E9; text-align:center; color:white; font-size:4vh; box-shadow:0 0 12px #6499E9; border-radius:18px;">
                <a href="{% url 'myscript' content.id %}" style="text-decoration: none; color:white">
                    <div class="card-body">
                        <div class="card-title">{{content.title}}</div>
                        <form action="{% url 'delete_script' content.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        let genre = document.getElementById("genre");
        document.querySelector("#select-box").addEventListener('change', function () {
            var selectedGenres = Array.from(this.selectedOptions).map(option => option.value);
            genre.value += selectedGenres.join(', ') + ', ';
        });
    </script>


    {%endblock%}